<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.badgersinc.dictionary.KanjiDictionary</string>
	<key>CFBundleName</key>
	<string>KanjiDictionary</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright © Electronic Dictionaries Research Group (adapted by Tyranid 2010)</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Electronic Dictionaries Research Group.</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
</dict>
</plist>
